body {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
main {
  min-height: 300px;
  margin-bottom: 20px;
}
.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  padding: 0 20px;
  display: flex;
}
.text-content {
  margin-bottom: 35px;
}
html {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  color: #222;
}
p:first-child {
  margin-top: 0;
}
a {
  text-decoration: none;
  color: #c082cb;
}
p {
  font-size: 19px;
  line-height: 2rem;
}
h1,
h2,
h3 {
  color: #000;
}
ol {
  line-height: 2rem;
  font-size: 1.15rem;
}
.blogList-blogTitle {
  font-size: 23px;
  margin: 0 0 5px;
}
.blogList-meta {
  font-size: 17px;
  color: #999;
  margin-bottom: 20px;
}
.blogList-titleLink {
  color: #d58fbc;
}
.blogList-listItem {
  margin-bottom: 40px;
}
.blogList-excerpt {
  margin: 0;
}
.blogList-continueReading {
  font-size: 18px;
}
header {
  width: 100%;
  max-width: 900px;
  margin: 60px auto 30px;
}
header h1 {
  margin: 0;
  text-align: center;
}
header h1 a {
  font-size: 35px;
  font-weight: 400;
  font-family: 'Droid Serif', serif;
  color: #dc8ab9;
  background: -webkit-linear-gradient(#fb72a4, #bba3ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navList {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 0 30px;
  justify-content: center;
}
.navList-listItem {
  margin: 0 25px;
}
.navList-link {
  color: #333;
  font-size: 19px;
  font-weight: bold;
}
.navList-link.active,
.navList-link:hover {
  text-decoration: underline;
}
.blogPost-header {
  font-size: 23px;
  margin: 0 0 5px;
  color: #d58fbc;
}
.blogPost-meta {
  font-size: 17px;
  color: #999;
  margin-bottom: 20px;
}
.social-media-list {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.social-media-list .social-media-list-item {
  padding: 0 15px;
}
.social-media-list a {
  opacity: 0.65;
}
.social-media-list a:hover {
  opacity: 1;
}
.social-media-list img {
  width: 26px;
}
