body {
  min-width: 960px;
}
main {
  width: 80%;
}
.container {
  margin: 0 auto;
  width: 900px;
  display: flex;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  width: 900px;
  margin: 0 auto;
}
header h1 {
  text-align: center;
}
nav {
  width: 20%;
  margin-right: 30px;
}
footer {
  width: 900px;
  margin: 0 auto;
}
