<header>
  <h1>
    <a href="/">
      <picture>
        <source
          media="(max-width: 320px)"
          srcset="{{ '/images/james-please-small.png' | prepend: site.baseurl }},
                  {{ '/images/james-please-small@2x.png' | prepend: site.baseurl }} 2x">
        <img
          src="{{ '/images/james-please.png' | prepend: site.baseurl }}"
          srcset="{{ '/images/james-please@2x.png' | prepend: site.baseurl }} 2x"
          alt="James, please">
      </picture>
    </a>
  </h1>
</header>
