.blogList-blogTitle
  font-size 23px
  margin 0 0 5px

.blogList-meta
  font-size 17px
  color #999
  margin-bottom 20px

.blogList-titleLink
  color #d58fbc

.blogList-listItem
  margin-bottom 40px

.blogList-excerpt
  margin 0

.blogList-continueReading
  font-size 18px
