.navList
  list-style none
  display flex
  padding 0
  margin 0 0 30px
  justify-content center

.navList-listItem
  margin 0 25px

.navList-link
  color #333
  font-size 19px
  font-weight bold

  &.active,
  &:hover
    text-decoration underline
