.social-media-list
  display flex
  list-style none
  justify-content center
  margin 0
  padding 0

  .social-media-icon
    fill #aaa
    width 30px
    will-change transform
    transition transform 0.15s ease-in-out

    &:hover
      fill #5ebeff

  .social-media-list-item
    padding 0 18px
