body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 10rem 1rem;
  color: #282828;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.photo {
  display: block;
  margin: 0 auto 1.25rem;
  height: 231px;
  width: 231px;
  max-width: 65vw;
  max-height: 65vw;
}

main {
  width: 100%;
  max-width: 35rem;
  margin: 0 auto;
}

h1 {
  color: #ff4db2;
  letter-spacing: -0.8px;
  font-size: 3rem;
  font-weight: 900;
  margin: 0 0 1.75rem;
  text-align: center;
}

p {
  font-size: 1.25rem;
  line-height: 1.6;
  margin: 0 0 1.25rem;
}

a {
  color: #ff4db2;
}

.links {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.25rem;
  text-decoration: none;
  padding: 0;
}

.social-link:last-child {
  margin-right: 0;
}

.social-link svg {
  width: 2rem;
}

.social-link:hover svg {
  fill: #ff4db2;
}

.social-link:active svg {
  fill: #eb40a1;
}



@media (max-width: 551px) {
  body {
    padding-top: 2.5rem;
  }

  h1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 350px) {
  h1 {
    font-size: 2.5rem;
  }
}