nav
  width 900px
  margin 0 auto
  
  ul
    display flex
    align-items center
    justify-content center

    li
      color #333
      font-size 20px
      margin 0 15px 60px
      
      a
        color #000
        
      &.active a
        color #C082CB
