.project-list li
  margin 10px 0
  border 1px solid #eee
  padding 20px
  
  &:first-child
    margin-top 0
  
  figure
    display flex
    margin 0
    padding 0
    
    img
      width 90px
      height 75px
      margin-right 20px
    
  figcaption
    flex 1
    
    h1
      font-size 21px
      margin 0 0 10px
      
    p
      margin 0