.project-list li
  margin 15px 0
  border 1px solid #dfdfdf
  border-radius 2px
  padding 10px
  
  &:first-child
    margin-top 0
  
  figure
    display flex
    margin 0
    padding 0
    
    img
      width 130px
      height 120px
      margin-right 10px
    
  figcaption
    flex 1
    
    h1
      font-size 20px
      margin 0 0 10px
      
    p
      margin 0