body
  width 100%
  max-width 960px
  margin 0 auto

main
  min-height 300px
  margin-bottom 10vh

.container
  box-sizing border-box
  margin 0 auto
  width 100%
  max-width 700px
  padding 0 20px
  display flex

.text-content
  margin-bottom 105px

@media (max-width: 600px)
  .text-content
    margin-bottom 50px
