html
  font-family 'Source Sans Pro', Helvetica, sans-serif
  font-weight 300
  color #111

p:first-child
  margin-top 0

a
  text-decoration none
  color #c082cb

  &:hover
    text-decoration underline

p
  font-size 21px
  line-height 2.2rem

h1, h2, h3
  color #000
